---
layout: default
---

<div class="row" style="margin: 0px 0px 30px 0px;">
  <img src="images/home_main.jpg" alt="Welcome to Hye-Eun Hills acupuncture • Chinese herbs" width="100%" height="130">
</div>
<div class="row" style="margin: 0px;">
  <div class="col-md-3">
    {% include sub-title.html param="To book an appointment" %}
    <div class="row" style="margin: 0px;">
      <address>
        Clinic: <span style="color: rgb(84, 165, 189)">01273 470955</span><br /><br />
        Hye-Eun Hills: <span style="color: rgb(84, 165, 189)">077333 67803</span><br />
        MBAcC • MRCHM • BA • BSc
      </address>
    </div>

    <div class="row" style="margin: 0px;">
      {% include sub-title.html param="Meet the practitioner" %}
      <p>
        Hye-Eun Hills, originally from South Korea, has been practising Acupuncture &amp; Chinese herbs
        in Brighton &amp; Lewes over the past twelve years,
        > <a href="{{ "/practitioner.html" | prepend: site.github.url }}">Read more</a>
      </p>

      <p>
        "Hye-Eun  has the gift of calming and relaxing her patient, a wonderful ability in this contemporary
        neurotic world.  She listens very attentively, no matter how serious or trivial the problem might be.
        She can stop a cold dead in its tracks and is extremely good at alleviating aches and pains,
        whether rheumatic, arthritic or from pulled muscles.

        She has a very sympathetic and friendly approach and I am sure anyone would unhesitatingly recommend her"<br />
        - Nick
      </p>
    </div>



  </div>
  <div class="col-md-9">
    <div class="row" style="margin: 0px">
      {% include title.html param="Welcome" %}
      <p style="margin-bottom: 30px;">
        Hye-Eun Hills Acupuncture • Chinese herbs is a practice based in <strong>Lewes</strong> &amp; <strong>Brighton</strong>, East Sussex  over the past fourteen years and is now sharing her skills in  <strong>Harley</strong> <strong>Street</strong> in central London. Hye-Eun is a highly experienced acupuncturist and carries out around 2,500 treaments per year, offering tailored treatments for a wide range of conditions, employing an integrated, holistic approach.
      </p>
      <div class="col-md-6" style="padding-left: 0px;">
        <div class="panel panel-success">
          <div class="panel-heading">
            Preparing for <strong>IVF </strong>or <strong>IUI</strong>?
          </div>
          <div class="panel-body">
            <p>Research has proven the effectiveness of acupuncture during IVF/IUI procedures, resulting in an <strong>increased success rate for IVF</strong>.</p>
            <p>The normal recommendation is for <strong>three months preparation</strong> of combined <strong>acupuncture </strong>and<strong> Chinese herbal treatments prior to IVF</strong>. This regulates the body’s natural productive functions and helps patients regain a normal menstrual cycle, thereby aiding a natural pregnancy.</p>
            <p><a href="fertility.html">&gt; Read more</a></p></td>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="padding-right: 0px;">
        <div class="panel panel-success">
          <div class="panel-heading">
            Suffering from <strong>aches </strong>&amp; <strong>pains</strong>?
          </div>
          <div class="panel-body">
            <p>Acupuncture is an <strong>excellent natural way of controlling and managing many types of pain</strong>.</p>
            <p>It is commonly used in the treatment of back pain and sciatica, arthritic pain and headaches. Pain control with acupuncture is <strong>safe &amp; side-effect free</strong> and <strong>promotes self-healing</strong>. Acupuncture can be successfully used along with other types of conventional treatments.</p>
            <p><a href="pain.html">&gt; Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
