<header>

  <div class="row header-row">
    <div class="col-md-3">
      <a><img src="images/logo.gif" alt="" width="223" height="57" align="middle"></a>
    </div>
    <div class="col-md-9">
      <nav>
        <div style="width: 90%; margin: 0 auto;">
          <table class="table table-bordered menu">
            <tr>
              <td style="background-color: #8A0041"><a href="/">Home</a></td>
              <td><a href="acu.html">Acupuncture</a></td>
              <td><a href="herbs.html">Chinese herbs</a></td>
              <td><a href="fertility.html">Fertility &amp; IVF</a></td>
              <td><a href="pregnancy.html">Pregnancy</a></td>
            </tr>
            <tr>
              <td><a href="/">Pain management</a></td>
              <td><a href="acu.html">Conditions</a></td>
              <td><a href="herbs.html">Practitioner</a></td>
              <td><a href="fertility.html">Practices &amp; Fees</a></td>
              <td><a href="pregnancy.html">Contact</a></td>
            </tr>
          </table>
        </div>
      </nav>
    </div>

  </div>

</header>
